@media (min-width: 1281px) {
  .personalContainer {
    width: 100%;
    margin: 0 auto;
  }

  .personalContainer .header {
    padding: 26px 65px;
  }
  .personalContainer .header .logo {
    cursor: pointer;
  }
  .personalContainer .contents {
    width: 907px;
    padding-top: 116px;
    max-width: 907px;
    margin: 0 auto;
  }

  .personalContainer .contents h2,
  p {
    text-align: center;
  }
  .personalContainer .contents h2 {
  }
  .personalContainer .contents p {
    padding-top: 13px;
  }

  .personalContainer .imgBox {
    display: flex;
    justify-content: center;
  }
  .personalContainer .btns button.active {
    width: 207.49px;
  }
  .personalContainer .btns button {
    width: 207.49px;
    height: 83px;
  }
  .personalContainer .btns {
    padding-top: 42px;
    gap: 26.22px;
  }

  /* .personalBtns button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns button {
    /* width: 103.5px;
    height: 83px; */
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns button.active {
    /* height: 83px;
    width: 103.5px; */
  }
  .personalContainer .contents .imgBox img {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .personalContainer .mbti .mbtiBtns_Container {
    padding-top: 0;
  }
  .personalContainer .header {
    padding: 0;
    width: 100%;
    padding: 38px 64px 0;
  }
  .personalContainer .header .logo {
    width: 313px;
  }
  .personalContainer .contents {
    box-sizing: border-box;
    padding: 191px 0 0;
    max-width: 907px;
    margin-left: 88px;
  }
  .personalContainer .contents p {
    padding-top: 13px;
  }
  .personalContainer .btns {
    justify-content: start;
    padding-top: 63px;
    padding-bottom: 0;
  }
  .personalContainer .btns button {
    width: 206.78px;
    height: 83px;
    margin-right: 26.22px;
  }
  .personalContainer .contents .imgBox {
  }
  .personalContainer .contents .imgBox img {
    padding-top: 42px;
    width: 165.37px;
    height: 196px;
    margin-left: 22px;
  }
  .personalBtns {
    width: 906.49px;
    margin: 0 auto;
    padding-top: 42px;
  }
  .personalContainer .mbti {
    width: 907.49px;
    margin: 0 auto;
    padding-top: 120px;
  }
  .personalContainer .mbti .info {
  }
  .personalContainer .mbti .info {
    align-items: start;
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns {
    padding-top: 63px;
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns button {
    width: 103.5px;
  }
  .personalContainer .next_btn {
    width: 907.49px;
    margin: 0 auto;
    justify-content: end;
    padding-top: 143px;
    padding-bottom: 0;
  }
  .personalContainer .next_btn button {
    width: 207.49px;
    height: 58px;
    font-size: 15px;
    font-weight: 700;
  }
  .personalContainer .mbti .info p {
    padding-top: 13px;
  }
}

/* @media (min-width: 481px) and (max-width: 767px) {
} */

@media (min-width: 280px) and (max-width: 767px) {
  .personalContainer {
    width: 100%;
    overflow: hidden;
  }
  .personalContainer .header {
    padding: 0;
    width: 100%;
    padding: 20px 10px;
  }
  .personalContainer .header .logo {
    width: 300px;
    object-fit: cover;
    cursor: pointer;
  }
  .personalContainer .contents {
    box-sizing: border-box;
    padding: 120px 10px 0;
    max-width: 907px;
    margin: 0 auto;
  }

  .personalContainer .contents h2,
  p {
    text-align: center;
  }
  .personalContainer .contents h2 {
  }
  .personalContainer .contents p {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
  }
  .personalContainer .blurBox {
    display: none !important;
  }
  .personalContainer .imgBox {
    display: flex;
    justify-content: center;
  }
  .personalContainer .btns {
    gap: 20px;
  }
  .personalContainer .btns button.active {
    width: 45%;
  }
  .personalContainer .btns button {
    width: 45%;
    height: 60px;
  }
  .personalBtns {
    justify-content: space-around;
  }

  .personalBtns button {
    width: 24%;
    height: 85px;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .personalBtns button.active {
    width: 24%;
  }
  .personalContainer .mbti {
    width: 100%;
    padding-top: 60px;
  }
  .personalContainer .mbti .mbtiBtns_Container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns button:nth-child(1) {
    width: 43%;
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns button:nth-child(2) {
    width: 43%;
  }
  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns1
    button:nth-child(1) {
    padding: 20px 30.5px 29px 60px;
  }
  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns1
    button:nth-child(2) {
    padding: 20px 59px 29px 38.5px;
  }

  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns2
    button:nth-child(1) {
    padding: 20px 29.5px 29px 59px;
  }
  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns2
    button:nth-child(2) {
    padding: 20px 53px 29px 36.5px;
  }
  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns3
    button:nth-child(1) {
    padding: 20px 31.5px 29px 60px;
  }
  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns3
    button:nth-child(2) {
    padding: 20px 53px 29px 36.5px;
  }

  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns4
    button:nth-child(1) {
    padding: 20px 30.5px 29px 60px;
  }
  .personalContainer
    .mbti
    .mbtiBtns_Container
    .mbti_btns.btns4
    button:nth-child(2) {
    padding: 20px 55px 29px 36.5px;
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns button {
    width: 45%;
    height: 60px;
  }
  .personalContainer .mbti .mbtiBtns_Container .mbti_btns button.active {
    height: 60px;
  }
  .personalContainer .next_btn {
    padding: 70px 0;
  }
  .personalContainer .btns .cameraBtn span {
    margin-right: 5px;
  }
  .personalContainer .btns .galleryBtn span {
    margin-right: 5px;
  }
  .personalContainer .contents .imgBox img {
    margin-left: 0;
  }
  .personalContainer .mbti .info p {
    padding-top: 13px;
  }
}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
    ##Device = 데스크탑
    ##Screen = 1281px 이상 해상도 데스크탑

    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    ##Device = 랩탑, 데스크탑
    ##Screen = 1025px에서 1280px 사이

    ##Device = Tablets, Ipads (landscape),
    ##Screen = B/w 768px to 1024px
    ##Device = 태블릿, 아이패드(세로),
    ##Screen = 768px에서 1024px 사이

    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ##Device = 대부분의 스마트폰 모바일 기기(세로)
    ##Screen = 320px에서 479px 사이
*/
