/*
    공통 style
*/

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  background: #141414;
  color: #fff;
}

li, a {
  list-style: none;
  text-decoration: none;
}
.appContainer {
  overflow: hidden;
  padding-bottom: 200px;
}
/* ---------------------- */

/* header */
.header {
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
}
.logo {
  width: 200px;
  padding-left: 45px;
}

.searchBar {
}
/* ---------------------- */

/* header */
.nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}
.nav li {
  width: 22%;
  padding: 13px 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(43, 42, 43);
  border-radius: 40px;
}
.nav li.active {
  background: rgb(144, 48, 171);
}
.nav li a {
  font-size: 16px;
  cursor: pointer;
  color: white;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.nav::-webkit-scrollbar {
  display: none;
}

.searchBarWrap {
  padding-top: 50px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.searchBar {
  background: rgb(43, 42, 43);
  border: none;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  padding: 16px;
  position: relative;
  outline: none;
  width: 90%;
}

.searchBarWrap > img {
  width: 30px;
  position: absolute;
  bottom: 10px;
}

.inputImg1 {
  right: 145px;
}

.inputImg2 {
  right: 90px;
}
/* ---------------------- */

/* contents */

.contents {
  padding-top: 30px;
}
.contentTitle {
  box-sizing: border-box;
  padding-left: 65px;
  padding-top: 100px;
  font-size: 22px;
}
.contentTitle:nth-child(1) {
  padding-top: 25px !important;
}
.copyInput {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  z-index: 999;
}
.copyInput input {
  border: none;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 6px 12px rgba(192, 194, 207, 0.36), 0 2px 4px #dfdfe2;
  display: inline-block;
  font-family: sans-serif;
  max-width: 1000px;
  padding: 16px;
  position: relative;
  width: 60%;
}

.copyButton {
  background: #000;
  color: #ececf1;
  cursor: pointer;
  display: inline;
  font-weight: 700;
  margin-left: 10px;
  padding: 20px;
  transition: all 0.1s;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
/* ---------------------- */

/* swiper */
/* .swiper-pagination,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
  top: 0 !important;
  right: 0 !important;
  width: 45% !important;
  left: unset !important;
} */

.swiper-pagination-bullet-active {
  background: yellowgreen !important;
}
.swiper-pagination-bullet {
  background: yellowgreen !important;
}
.slideComponent {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}
.slide {
  position: relative;
  text-align: center;
}
.desc {
  margin: 0;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 50%;
  text-align: left;
  display: inline-block;
  word-wrap: break-word;
}
.slideImg {
  width: 98%;
  margin: 0 auto;
  border-radius: 6px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.slideBtn {
  position: absolute;
  z-index: 10;
  border: none;
  background: none;
  width: 60px;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #b9b4b4;
}
.slideBtn:hover {
  color: white;
}
.prevBtn {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nextBtn {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* ---------------------- */

/* .swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
} */
